<div class="card">
  <div class="card-header">
    <span class="h3">
        Events
      </span>
  </div>
  <div class="card-block">
    <div class="list-group">
      <a href="#" *ngFor="let item of events" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{item.title}}</h5>
          <p class="list-group-item-text">{{item.description}}</p>
          <button class="btn btn-primary">Delete</button>
        </div>
        <small><strong>ID:</strong>{{item.id}}</small>
        <small><strong>Valid from:</strong>{{item.eventStart}}</small>
        <small><strong>Valid till:</strong>{{item.eventEnd}}</small>
      </a>
    </div>
  </div>
</div>
