<div class="card">
  <div class="card-block">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="title" class="col-form-label">Title</label>
          <input type="text" name="title" [(ngModel)]="event.title" class="form-control" id="title">
        </div>
        <div class="form-group col-md-6">
          <label for="description" class="col-form-label">Description</label>
          <textarea name="description" [(ngModel)]="event.description" class="form-control" id="description">
          </textarea>
        </div>
        <div class="form-group col-md-6">
          <label for="from" class="col-form-label">Event Start Date</label>
          <ngb-datepicker name="from" #dp1 [(ngModel)]="startDate" (navigate)="sDate = $event.next"></ngb-datepicker>
        </div>
        <div class="form-group col-md-6">
          <label for="fromT" class="col-form-label">Event Start Time</label>
          <ngb-timepicker name="fromT" [(ngModel)]="startTime"></ngb-timepicker>
        </div>
        <div class="form-group col-md-6">
          <label for="to" class="col-form-label">Event End Date</label>
          <ngb-datepicker name="to" #dp2 [(ngModel)]="endDate" (navigate)="eDate = $event.next"></ngb-datepicker>
        </div>
        <div class="form-group col-md-6">
          <label for="toT" class="col-form-label">Event End Time</label>
          <ngb-timepicker name="toT" [(ngModel)]="endTime"></ngb-timepicker>
        </div>
        <div class="form-group col-md-6">
          <label for="users" class="col-form-label">Participants</label>
          <tag-input  name="users"  theme='bootstrap' [ngModel]="['@item']"
                    (onAdd)="onAdd($event)"
                    (onRemove)="onRemove($event)"
                   [onlyFromAutocomplete]="true">
            <tag-input-dropdown [showDropdownIfEmpty]="true"
                                [identifyBy]="'id'" [displayBy]="'username'"
                                [autocompleteItems]="users">
            </tag-input-dropdown>
        </tag-input>
        </div>

        <div class="form-group col-md-6">
          <label for="inputCampus" class="col-form-label">Location</label>
          <select id="locationId" [(ngModel)]="event.locationId" name="locationId"  class="form-control">
            <option>Choose Location</option>
            <<option *ngFor="let location of locations" value="{{location.id}}">{{location.name}}</option>
          </select>
        </div>
      </div>
      <button (click)="addEvent()" type="submit" class="btn btn-primary">Add Event</button>
    </form>
  </div>
</div>
