<StackLayout>
  <Label text="Choose Location"></Label>
  <ListView [items]="locations" class="list-group">
      <ng-template let-location="item">
          <StackLayout class="list-group-item" (tap)="ok(location)">
            <Label [text]='"Name: " +location.name'></Label>
            <Label [text]='"Level: "+ location.floor' class="title"></Label>
            <Label [text]='"Campus: "+ location.campus.name' class="description"></Label>
            <StackLayout height="2" backgroundColor="Black"></StackLayout>
          </StackLayout>
      </ng-template>
  </ListView>
</StackLayout>
