<StackLayout class="form">
  <StackLayout visibility="{{!isLoggedIn ? 'visible' : 'collapsed' }}" class="input-field">
    <Label text="Please Login to Navigate!" class="label font-weight-bold m-b-5"></Label>
    <StackLayout class="hr-light"></StackLayout>
  </StackLayout>
  <StackLayout class="input-field">
    <Label text="FromLocation:{{fromLocation.name}}" class="label font-weight-bold m-b-5"></Label>
    <Button text="Choose From Location" (tap)="chooseFromLocation()" class="btn btn-primary"></Button>
    <StackLayout class="hr-light"></StackLayout>
  </StackLayout>
    <StackLayout class="input-field">
        <Label text="ToLocation:{{toLocation.name}}" class="label font-weight-bold m-b-5"></Label>
        <Button text="Choose To Location" (tap)="chooseToLocation()" class="btn btn-primary"></Button>
        <StackLayout class="hr-light"></StackLayout>
    </StackLayout>
    <StackLayout class="input-field">
        <Button [isUserInteractionEnabled]="isLoggedIn" text="Navigate" (tap)="submitNavigation()" class="btn btn-primary"></Button>
    </StackLayout>
</StackLayout>
