  <h2>Users List of {{campusId}}</h2>
  <div class="list-group">
    <div *ngFor="let user of users" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{user.firstName}} {{user.lastName}}</h5>
        <button class="btn btn-primary" (click)="delete(user)">Delete</button>
      </div>
      <small><strong>ID:</strong>{{user.id}}</small>
      <small *ngIf="user.location"><strong>Location ID:</strong>{{user.location?.id}}</small>
      <small><strong>UserName:</strong>{{user.username}}</small>
      <small><strong>Joined On:</strong>{{user.createdTS}}</small>
    </div>
  </div>
