<!--The content below is only a placeholder and can be replaced.-->
<nav>
    <ul>
      <li><a class="brand" routerLink="/home">Donna</a></li>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/indoor-map">Maps</a></li>
      <li><a routerLink="/chat-bot">Chat</a></li>
      <li class="right"><a href="https://github.com/rajagopal28/Donna">About</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>
<div class="footer-container">
  <hr />
    <div class="text-center center-block">
      <p class="txt-railway">Donna - for #UnitedByHCLHackathon</p>
      <br />
        <a href="https://www.facebook.com/rajagopal.atech"><i class="fa fa-facebook-square fa-3x social"></i></a>
        <a href="https://twitter.com/M_Rajagopal"><i class="fa fa-twitter-square fa-3x social"></i></a>
        <a href="https://in.linkedin.com/in/rajagopal28"><i class="fa fa-linkedin-square fa-3x social"></i></a>
        <a href="https://github.com/rajagopal28"><i class="fa fa-github fa-3x social"></i></a>
        <a href="mailto:rajagopal.a.dinesh@gmail.com"><i class="fa fa-envelope-square fa-3x social"></i></a>
  </div>
 <hr />
</div>
