<div class="card">
  <div class="card-block">
    <ngb-tabset>
      <ngb-tab title="View Users">
        <ng-template ngbTabContent>
          <ViewUsers></ViewUsers>
        </ng-template>
      </ngb-tab>
      <ngb-tab  title="View Locations">
        <ng-template ngbTabContent>
          <ViewLocations></ViewLocations>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="View Campus">
        <ng-template ngbTabContent>
          <ViewCampus></ViewCampus>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Add Location">
        <ng-template ngbTabContent>
          <AddLocation></AddLocation>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
