<div class="card">
  <div class="card-header">
    <span class="h3">
       Indoor Maps!!
      </span>
  </div>
  <div class="card-block">
    <div class="form-inline">
      <div class="form-group">
        <label for="from">From Location:</label>
        <input type="text" class="form-control" id="from" [(ngModel)]="fromLocation" [ngbTypeahead]="searchFrom" [resultTemplate]="rt" [inputFormatter]="formatter" >
        &nbsp;
        <label for="fromLevel">From Level:</label>
        <select class="form-control" id="fromLevel" [(ngModel)]="fromLevel">
          <option *ngFor="let l of levels">{{l}}</option>
        </select>
      </div>&nbsp;
      <div class="form-group">
        <label for="to">To Location:</label>
        <input type="text" class="form-control" id="to" [(ngModel)]="toLocation" [ngbTypeahead]="searchTo" [resultTemplate]="rt" [inputFormatter]="formatter" >
        &nbsp;
        <label for="toLevel">To Level:</label>
        <select class="form-control" id="toLevel" [(ngModel)]="toLevel">
          <option *ngFor="let l of levels">{{l}}</option>
        </select>
        </div>&nbsp;
      <button (click)="applyNavigation()" class="btn btn-default">Submit</button>
    </div>
    <div id="mazemap-container"></div>
  </div>
</div>

<ng-template #rt let-r="result" let-t="term">
  {{ r.name }} at {{ r.building }}
</ng-template>
