<div class="card">
  <div class="card-header">
    <span class="h3">
        Register
      </span>
  </div>
  <div class="card-block">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="firstName" class="col-form-label">First Name</label>
          <input type="text" name="firstName" [(ngModel)]="user.firstName" class="form-control" id="firstName">
        </div>
        <div class="form-group col-md-6">
          <label for="lastName" class="col-form-label">Last Name</label>
          <input type="text" name="lastName" [(ngModel)]="user.lastName" class="form-control" id="lastName">
        </div>
        <div class="form-group col-md-6">
          <label for="locationId" class="col-form-label">Location</label>
          <select id="locationId" [(ngModel)]="user.locationId" name="locationId"  class="form-control">
            <option>Choose Location</option>
            <<option *ngFor="let location of locations" value="{{location.id}}">{{location.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="username" class="col-form-label">Username</label>
          <input type="text" name="username" [(ngModel)]="user.username" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group col-md-6">
          <label for="password"  class="col-form-label">Password</label>
          <input type="password" class="form-control" [(ngModel)]="user.password" name="password" id="password" placeholder="Password">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword5" class="col-form-label">Confirm Password</label>
          <input type="password" class="form-control" id="inputPassword5" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"> Check me out
          </label>
        </div>
      </div>
      <button (click)="signUp()" type="submit" class="btn btn-primary">Sign in</button>
    </form>
  </div>
</div>
